@model MovieStoreUI.Models.OrderViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <div class="row">
        <div class="col-sm-1">
            @Html.DisplayNameFor(model => model.Order.Id)

        </div>

        <div class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </div>

        <div class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </div>

        <div class="col-sm-1">
            @Html.DisplayNameFor(model => model.Order.CustomerId)
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model.OrderContent)
    {
        <div class="col-sm-1">
            @item.Id
        </div>
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
        </div>

            <div class="col-sm-1">
            </div>
    }
</div>



<p>
    @Html.ActionLink("Back to List", "Index")
</p>
